Repository HalfGallonTeam/WithCon_BE, pull requests merged in 2024-01, with the labels that each got.

#3 feat: Exception handling 기능 추가
  src/main/java/com/halfgallon/withcon/global/exception/.gitkeep
  src/main/java/com/halfgallon/withcon/global/exception/CustomException.java
  src/main/java/com/halfgallon/withcon/global/exception/ErrorCode.java
  src/main/java/com/halfgallon/withcon/global/exception/ErrorResponse.java
  src/main/java/com/halfgallon/withcon/global/exception/GlobalExceptionHandler.java
Labels: ✨ feature, 🔥 backend

#6 Feat/auth signup
  .github/pull_request_template.md
  src/main/java/com/halfgallon/withcon/domain/member/constant/GenderType.java
  src/main/java/com/halfgallon/withcon/domain/member/constant/LoginType.java
  src/main/java/com/halfgallon/withcon/domain/member/entity/Member.java
  src/main/java/com/halfgallon/withcon/domain/member/repository/MemberRepository.java
  src/main/java/com/halfgallon/withcon/global/config/JpaAuditingConfig.java
  src/main/java/com/halfgallon/withcon/global/entity/BaseTimeEntity.java
  src/main/java/com/halfgallon/withcon/global/exception/CustomException.java
  src/main/java/com/halfgallon/withcon/global/exception/ErrorCode.java
  src/main/java/com/halfgallon/withcon/global/exception/ErrorResponse.java
  src/main/java/com/halfgallon/withcon/global/exception/GlobalExceptionHandler.java
Labels: ✨ feature, 🔥 backend

#8 feat: Member 엔티티와 BaseTimeEntity 추가
  src/main/java/com/halfgallon/withcon/domain/.gitkeep
  src/main/java/com/halfgallon/withcon/domain/member/constant/GenderType.java
  src/main/java/com/halfgallon/withcon/domain/member/constant/LoginType.java
  src/main/java/com/halfgallon/withcon/domain/member/entity/Member.java
  src/main/java/com/halfgallon/withcon/domain/member/repository/MemberRepository.java
  src/main/java/com/halfgallon/withcon/global/config/.gitkeep
  src/main/java/com/halfgallon/withcon/global/config/JpaAuditingConfig.java
  src/main/java/com/halfgallon/withcon/global/entity/BaseTimeEntity.java
Labels: ✨ feature, 🔥 backend

#9 [feat] 채팅 메시지 기능 추가
  build.gradle
  src/main/java/com/halfgallon/withcon/domain/chat/config/WebSocketConfig.java
  src/main/java/com/halfgallon/withcon/domain/chat/constant/MessageType.java
  src/main/java/com/halfgallon/withcon/domain/chat/controller/ChatMessageController.java
  src/main/java/com/halfgallon/withcon/domain/chat/dto/ChatMessageRequest.java
  src/main/java/com/halfgallon/withcon/domain/chat/dto/ChatMessageResponse.java
  src/main/java/com/halfgallon/withcon/domain/chat/entity/ChatMessage.java
  src/main/java/com/halfgallon/withcon/domain/chat/entity/ChatRoom.java
  src/main/java/com/halfgallon/withcon/domain/chat/repository/ChatRoomRepository.java
  src/main/java/com/halfgallon/withcon/domain/chat/service/ChatMessageService.java
  src/main/java/com/halfgallon/withcon/domain/chat/service/ChatMessageServiceImpl.java
Labels: ✨ feature, 🔥 backend

#13 [feat] 유저 회원가입 기능 추가
  .gitignore
  build.gradle
  src/main/java/com/halfgallon/withcon/domain/auth/controller/AuthController.java
  src/main/java/com/halfgallon/withcon/domain/auth/dto/request/AuthJoinRequest.java
  src/main/java/com/halfgallon/withcon/domain/auth/service/AuthService.java
  src/main/java/com/halfgallon/withcon/domain/auth/service/AuthServiceImpl.java
  src/main/java/com/halfgallon/withcon/domain/member/entity/Member.java
  src/main/java/com/halfgallon/withcon/domain/member/repository/MemberRepository.java
  src/main/java/com/halfgallon/withcon/global/config/SecurityConfig.java
  src/main/java/com/halfgallon/withcon/global/exception/ErrorCode.java
  src/main/resources/application-local.yml
  src/main/resources/application.properties
  src/main/resources/application.yml
  src/test/java/com/halfgallon/withcon/domain/auth/controller/AuthControllerTest.java
  src/test/java/com/halfgallon/withcon/domain/auth/service/AuthServiceImplTest.java
  src/test/java/com/halfgallon/withcon/domain/member/repository/MemberRepositoryTest.java
Labels: ✅ Test, ✨ feature, 🔥 backend

#14 [fix] 단순 에러 수정
  build.gradle
  src/main/java/com/halfgallon/withcon/domain/chat/service/ChatMessageServiceImpl.java
  src/main/java/com/halfgallon/withcon/domain/member/constant/GenderType.java
  src/test/java/com/halfgallon/withcon/domain/member/repository/MemberRepositoryTest.java
Labels: 🐞 bug, ✅ Test, 🔥 backend

#18 [feat] 로그인 기능 추가
  src/main/java/com/halfgallon/withcon/domain/auth/security/config/SecurityConfig.java
  src/main/java/com/halfgallon/withcon/domain/auth/security/filter/LoginFilter.java
  src/main/java/com/halfgallon/withcon/domain/auth/security/handler/LoginFailureHandler.java
  src/main/java/com/halfgallon/withcon/domain/auth/security/handler/LoginSuccessHandler.java
  src/main/java/com/halfgallon/withcon/domain/auth/security/service/CustomUserDetails.java
  src/main/java/com/halfgallon/withcon/domain/auth/security/service/CustomUserDetailsService.java
  src/main/java/com/halfgallon/withcon/domain/member/repository/MemberRepository.java
  src/main/java/com/halfgallon/withcon/global/config/SecurityConfig.java
  src/main/java/com/halfgallon/withcon/global/exception/ErrorCode.java
  src/test/java/com/halfgallon/withcon/domain/auth/security/filter/LoginRequestTest.java
Labels: ✅ Test, ✨ feature, 🔥 backend

#19 [feat] QueryDsl을 이용한 Exist, Pagination 구현
  build.gradle
  src/main/java/com/halfgallon/withcon/domain/chat/repository/ChatParticipantRepository.java
  src/main/java/com/halfgallon/withcon/domain/chat/repository/CustomChatParticipantRepository.java
  src/main/java/com/halfgallon/withcon/domain/chat/repository/impl/CustomChatParticipantRepositoryImpl.java
  src/main/java/com/halfgallon/withcon/domain/chat/service/impl/ChatParticipantServiceImpl.java
  src/main/java/com/halfgallon/withcon/domain/chat/service/impl/ChatRoomServiceImpl.java
  src/main/java/com/halfgallon/withcon/global/config/QueryDslConfig.java
Labels: ✨ feature, 🔥 backend

#25 [feat] 로그인 성공 시 JWT 발급 및 Redis에 토큰 저장
  build.gradle
  src/main/java/com/halfgallon/withcon/domain/auth/entity/AccessToken.java
  src/main/java/com/halfgallon/withcon/domain/auth/entity/RefreshToken.java
  src/main/java/com/halfgallon/withcon/domain/auth/manager/JwtManager.java
  src/main/java/com/halfgallon/withcon/domain/auth/repository/AccessTokenRepository.java
  src/main/java/com/halfgallon/withcon/domain/auth/repository/RefreshTokenRepository.java
  src/main/java/com/halfgallon/withcon/domain/auth/security/config/SecurityConfig.java
  src/main/java/com/halfgallon/withcon/domain/auth/security/handler/LoginSuccessHandler.java
  src/main/java/com/halfgallon/withcon/global/config/RedisConfig.java
  src/test/java/com/halfgallon/withcon/domain/auth/security/filter/LoginTest.java
Labels: ✅ Test, ✨ feature, 🔥 backend

#28 [feat] 외부 메시지 브로커를 이용한 메시징 발송
  build.gradle
  src/main/java/com/halfgallon/withcon/domain/chat/config/RabbitConfig.java
  src/main/java/com/halfgallon/withcon/domain/chat/config/WebSocketConfig.java
  src/main/java/com/halfgallon/withcon/domain/chat/constant/ChattingConstant.java
  src/main/java/com/halfgallon/withcon/domain/chat/controller/ChatMessageController.java
  src/main/java/com/halfgallon/withcon/domain/chat/dto/ChatMessageDto.java
  src/main/java/com/halfgallon/withcon/domain/chat/dto/ChatMessageResponse.java
  src/main/java/com/halfgallon/withcon/domain/chat/repository/ChatParticipantRepository.java
  src/main/java/com/halfgallon/withcon/domain/chat/service/ChatMessageService.java
  src/main/java/com/halfgallon/withcon/domain/chat/service/impl/ChatMessageServiceImpl.java
  src/test/java/com/halfgallon/withcon/domain/chat/service/impl/ChatParticipantServiceImplTest.java
  src/test/java/com/halfgallon/withcon/domain/chat/service/impl/ChatRoomServiceImplTest.java
Labels: ✅ Test, ✨ feature, 🔥 backend

#29 [feat] 회원 로그아웃
  src/main/java/com/halfgallon/withcon/domain/auth/security/config/SecurityConfig.java
  src/main/java/com/halfgallon/withcon/domain/auth/security/handler/CustomLogoutSuccessHandler.java
  src/main/java/com/halfgallon/withcon/domain/auth/security/handler/TokenClearingLogoutHandler.java
  src/test/java/com/halfgallon/withcon/domain/auth/api/LoginTest.java
  src/test/java/com/halfgallon/withcon/domain/auth/api/LogoutTest.java
  src/test/java/com/halfgallon/withcon/domain/member/repository/MemberRepositoryTest.java
  src/test/java/com/halfgallon/withcon/global/annotation/WithCustomMockUser.java
  src/test/java/com/halfgallon/withcon/global/annotation/WithCustomMockUserSecurityContextFactory.java
Labels: ✅ Test, ✨ feature, 🔥 backend

#30 [feat] 알림 구독/전송/조회 기능
  .gitignore
  src/main/generated/com/halfgallon/withcon/domain/chat/entity/QChatMessage.java
  src/main/generated/com/halfgallon/withcon/domain/chat/entity/QChatParticipant.java
  src/main/generated/com/halfgallon/withcon/domain/chat/entity/QChatRoom.java
  src/main/generated/com/halfgallon/withcon/domain/member/entity/QMember.java
  src/main/generated/com/halfgallon/withcon/domain/notification/entity/QNotification.java
  src/main/generated/com/halfgallon/withcon/global/entity/QBaseTimeEntity.java
  src/main/java/com/halfgallon/withcon/domain/auth/security/service/CustomUserDetails.java
  src/main/java/com/halfgallon/withcon/domain/notification/constant/NotificationMessageType.java
  src/main/java/com/halfgallon/withcon/domain/notification/constant/NotificationType.java
  src/main/java/com/halfgallon/withcon/domain/notification/controller/NotificationController.java
  src/main/java/com/halfgallon/withcon/domain/notification/dto/ChatRoomNotificationRequest.java
  src/main/java/com/halfgallon/withcon/domain/notification/dto/ChatRoomNotificationResponse.java
  src/main/java/com/halfgallon/withcon/domain/notification/dto/NotificationResponse.java
  src/main/java/com/halfgallon/withcon/domain/notification/dto/performanceNotificationRequest.java
  src/main/java/com/halfgallon/withcon/domain/notification/dto/performanceNotificationResponse.java
  src/main/java/com/halfgallon/withcon/domain/notification/entity/Notification.java
  src/main/java/com/halfgallon/withcon/domain/notification/repository/NotificationRepository.java
  src/main/java/com/halfgallon/withcon/domain/notification/repository/SseEmitterRepository.java
  src/main/java/com/halfgallon/withcon/domain/notification/service/NotificationService.java
  src/main/java/com/halfgallon/withcon/domain/notification/service/SseEmitterService.java
  src/main/java/com/halfgallon/withcon/domain/notification/service/impl/NotificationServiceImpl.java
  src/main/java/com/halfgallon/withcon/domain/notification/service/impl/SseEmitterServiceImpl.java
  src/main/resources/application-local.yml
Labels: ✨ feature, 🔥 backend
